* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 80%, rgba(227, 255, 248, 0.38) 100%);
  min-height: 100vh;
}

#page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 64px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
ul {
  display: flex;
  gap: 3rem;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  font-weight: 400;
  color: #1f1534;
  opacity: 0.5;
  transition: all 0.4s ease;
}

ul li a:hover {
  font-weight: bold;
  color: #1f1534;
  opacity: 1;
}

h1,
ul {
  font-family: "Mulish", sans-serif;
}

h1 {
  font-size: 3rem;
  line-height: 110%;
  font-weight: 400;
  color: #1f1534;
  width: 490px;
}
h1 span {
  color: #89c5cc;
}

p {
  font-size: 14px;
  line-height: 200%;
  width: 370px;
  color: #7d7987;
}

section p {
  margin: 2.5rem 0;
}

button {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border: none;
  padding: 1rem 2rem;
  background-color: #69b99d;
  border-radius: 4px;

  cursor: pointer;
}

button:hover{
    background-color: #458c73;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  font-size: 14px;
  line-height: 200%;
  text-align: center;
  margin-top: 80px;
  color: #1f1534;
  opacity: 0.5;
}
footer a {
  font-weight: bold;
}
footer a:hover {
  opacity: 1;
}
#balls {
  position: fixed;
  right: 0;
  bottom: 0;
}
